
@{
    ViewBag.Title = "Carrito";
}

<br />
<br />
<br />

<div style="display: flex; justify-content: center; align-items: center;">
    <div class="card text-center" style="width: 800px">
        <div class="card-header" style="background-color: #33313B; color: #fff"> Marca </div>
        <div class="card-body" style="background-color: #E3C4A8">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="~/Content/Images/jeep.jpg" />
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="card-text">Precio por día: $</p>
                    <p class="card-text">Precio total: $</p>
                    <p class="card-text">Disponible</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row text-center">
    <div class="col-md-4" style="margin-bottom:25px">
        <button class="btn" style="background-color: #4592AF">Sacar del carrito<i class="fas fa-times" style="margin-left:10px; color: red"></i></button>
    </div>
    <div class="col-md-4" style="margin-bottom:25px">
        <p class="card-text">Días</p>
    </div>
    <div class="col-md-4" style="margin-bottom:25px">
        <button class="btn" style="background-color: #4592AF">Alquilar</button>
    </div>

</div>




