<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <center>
        <h2 style="margin:100px" class="text-danger">Error al procesar la solicitud. <br /><br /> Su usuario no cuenta con los permisos necesarios</h2><br /><br />
    </center>

</body>
</html>