
@{
    ViewBag.Title = "HistorialAlquiler";
}
<link href="~/Content/Style/HistorialAlquiler.css" rel="stylesheet" />

<div class="container alquiler">

    <h1>Historial de alquiler</h1>
    <br />
    <div class="historialAlquiler">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/Content/Images/toyota.jpg" />
            </div>
            <div class="col-lg-6">
                <div class="descripcion">
                    <h2>Precio por día: $0.25</h2>
                    <h2>Precio por total: $100.50</h2>
                    <h2>Disponible</h2>
                </div>
            </div>
        </div>
    </div>
</div>