@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Style/carousel.css" rel="stylesheet" />
<br />
<br />

<div class="Contenedor">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner caret">
            <div class="carousel-item active">
                <img class="imgCarrusel d-block " src="~/Content/Images/car.jpg" alt="First slide">
            </div>
            <div class="imgCarrusel carousel-item">
                <img class="d-block " src="~/Content/Images/jeep.jpg" alt="Third slide">
            </div>
            <div class="imgCarrusel carousel-item">
                <img class="d-block " src="~/Content/Images/toyota.jpg" alt="Third slide">
            </div>
            <div class="imgCarrusel carousel-item">
                <img class="d-block " src="~/Content/Images/wrangler.jpg" alt="Third slide">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>