
@{
    ViewBag.Title = "DetalleAutos";
}
<link href="~/Content/Style/DetalleAutos.css" rel="stylesheet" />
<h2>DetalleAutos</h2>

<div class="container detalleAutos">
    <div class="row">
        <div class="col-lg-6">
                <img src="~/Content/Images/toyota.jpg" />
                <br />
                <br />
                <button class="btn btn-info"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
                <br />
                <br />
        </div>
        <div class="col-lg-6">
            <h2>JEEP</h2>
            <br style="height: 1px" />
            <div class="detalles">
                <p></p>
                <p>Precio por día: $ 0.25</p>
                <p>Capacidad: 5 pasajeros</p>
                <p>Categoría: camión</p>
                <p>Año: 2023</p>
                <p>Tracción: 4x2</p>
                <p>Puertas: 2</p>

            </div>
        </div>
    </div>
</div>
