@{
    ViewBag.Title = "Autos";
}

@* Diseño *@
<link href="~/Content/Style/Card.css" rel="stylesheet" />

<br />
<br />
<br />
<br />

<div style="display: flex; justify-content: center; align-items: center">

    <div class="row text-center">

        <div class="col-md-4 col-sm-6">
            <div class="container">
                <div class="card">
                    <div class="image">
                        <img src="~/Content/Images/jeep.jpg" />
                    </div>
                    <div class="contentBx">
                        <h2>Jeep</h2>
                        <div class="color">
                            <h3>Colores disponibles:</h3>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <br />
                        <a href="#">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="color:#000;  margin-bottom:40px">
                <button class="btn" style="background-color: #4592AF">Agregar al carrito<i class="fas fa-shopping-cart" style="margin-left:7px"></i></button>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="container">
                <div class="card">
                    <div class="image">
                        <img src="~/Content/Images/toyota.jpg" />
                    </div>
                    <div class="contentBx">
                        <h2>Toyota</h2>
                        <div class="color">
                            <h3>Colores disponibles:</h3>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <br />
                        <a href="#">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="color:#000; margin-bottom:40px">
                <button class="btn" style="background-color: #4592AF">Agregar al carrito<i class="fas fa-shopping-cart" style="margin-left:7px"></i></button>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="container">
                <div class="card">
                    <div class="image">
                        <img src="~/Content/Images/car.jpg" />
                    </div>
                    <div class="contentBx">
                        <h2>Toyota</h2>
                        <div class="color">
                            <h3>Colores disponibles:</h3>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <br />
                        <a href="#">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="color:#000; margin-bottom:40px">
                <button class="btn" style="background-color: #4592AF">Agregar al carrito<i class="fas fa-shopping-cart" style="margin-left:7px"></i></button>
            </div>
        </div>

    </div>
</div>