@{
    ViewBag.Title = "IniciarSesion";
    Layout = null;
}
<link href="~/Content/Style/login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

<div class="login">
    <i style="color:#33313B; font-size: 50px" class="fas fa-user"></i>
    <input type="text" name="correo" value="" placeholder="Correo" />
    <input type="text" name="passw" value="" placeholder="Contraseña" />
    <input type="submit" value="Iniciar Sesión" />
    <a href="">Registrarse</a>
</div>

