
@{
    ViewBag.Title = "HistorialAlquiler";
}
<link href="~/Content/Style/HistorialAlquiler.css" rel="stylesheet" />

<div class="container alquiler">

    <h1>Historial de alquiler</h1>
    <br />
    <div class="historialAlquiler">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/Content/Images/toyota.jpg" />
            </div>
            <div class="col-lg-6">
                <div class="descripcion">
                    <h2>Historial alquiler</h2>
                    <p>Detalle alquiler</p>
                    <p>Marca: xxx</p>
                    <p>Precio por día: $40.00</p>
                    <p>Fecha inicio: 02/04/2021</p>
                    <p>Fecha devolución: 01/04/2021 (o en uso)</p>
                    <p>Total días: 2 días</p>
                    <p>Total: $80.00</p>
                </div>
            </div>
        </div>
    </div>
</div>